{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": 0,
    "no-console": 0,
    "linebreak-style": 0
  }
}
